<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Catalogue>
            <version>0.1.2</version>
        </Krishinc_Catalogue>
    </modules>
 	<global>
 	 	<blocks>
            <catalogue>
                <class>Krishinc_Catalogue_Block</class>
            </catalogue>
        </blocks>	
        <models>
            <catalogue>
                <class>Krishinc_Catalogue_Model</class>
            </catalogue>
             <sales>
            	<rewrite>
            		<quote>Krishinc_Catalogue_Model_Sales_Quote</quote>
            	</rewrite>
            </sales> 
        </models>
        <resources>
			<catalogue_setup>
				<setup>
                    <module>Krishinc_Catalogue</module>
                </setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</catalogue_setup>
			<catalogue_write>
				<connection>
					<use>default_write</use>
				</connection>
			</catalogue_write>
			<catalogue_read>
				<connection>
					<use>default_read</use>
				</connection>
			</catalogue_read>
		</resources> 
 		<helpers>
            <catalogue>
                <class>Krishinc_Catalogue_Helper</class>
            </catalogue>
        </helpers>
        <events> 
        	<checkout_controller_onepage_save_shipping_method>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/observer</class>
                        <method>checkoutAddCatalogueProduct</method> 
        			</catalogue>
        		</observers> 
        	</checkout_controller_onepage_save_shipping_method>
        	<controller_action_predispatch_checkout_cart_index>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/observer</class>
                        <method>checkoutAddCatalogueProduct</method> 
        			</catalogue>
        		</observers>
        	</controller_action_predispatch_checkout_cart_index>     
        	<adminhtml_sales_order_create_process_data>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/adminhtml_observer</class>
                        <method>adminhtmlSalesOrderCreateAddCatalogueProduct</method> 
        			</catalogue>
        		</observers> 
        	</adminhtml_sales_order_create_process_data> 
        	<!--checkout_cart_save_after>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/observer</class>
                        <method>checkoutCartaddProductAfter</method> 
        			</catalogue>
        		</observers>
        	</checkout_cart_save_after> 
        	<checkout_cart_update_items_after>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/observer</class>
                        <method>checkoutCartUpdateItemsAfter</method> 
        			</catalogue>
        		</observers>
        	</checkout_cart_update_items_after>
        	<sales_quote_remove_item>	
        		<observers>
        			<catalogue>
        			 	<class>catalogue/observer</class>
                        <method>salesQuoteRemoveItem</method> 
        			</catalogue>
        		</observers> 
        	</sales_quote_remove_item--> 
        </events> 
        <fieldsets>
         <sales_convert_quote_item>
        	<catalogue_item>
                <to_order_item>*</to_order_item>
            </catalogue_item>
            <parent_bundle_id>
                <to_order_item>*</to_order_item>
            </parent_bundle_id> 
         </sales_convert_quote_item>
          <sales_convert_order_item>
      		<catalogue_item> 
                <to_invoice_item>*</to_invoice_item>
                <to_cm_item>*</to_cm_item>
                <to_quote_item>*</to_quote_item>
                <to_shipment_item>*</to_shipment_item>
            </catalogue_item>
          </sales_convert_order_item>
          <parent_bundle_id>  
                <to_quote_item>*</to_quote_item> 
            </parent_bundle_id>
         </fieldsets> 
 	</global> 
</config>