.htaccess.sample
.htaccess
app/etc/local.xml
app/.htaccess
dev/.htaccess
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
media/
php.ini.sample
pkginfo/
sitemap.xml
var/
*.sh
/package.xml
.idea/
webftp/
