.htaccess.sample
.htaccess
app/etc/local.xml
app/.htaccess
/cron.php
cron.sh
dev/.htaccess
favicon.ico
/get.php
includes/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
sitemap.xml
var/
/captcha.php
/OpenSans-Bold.ttf
/button.phtml
/index.php.sample
/install.php
/magento-cleanup.php
.bash_history
.cache/
CHANGELOG.txt
FileZilla.xml
*.sh
/package.xml
.idea/
webftp
