<?xml version="1.0" ?>
<config>
	<modules>
		<Krishinc_Ajaxtocart>
			<version>1.0.0</version>
		</Krishinc_Ajaxtocart>
	</modules>
	<frontend>
		<routers>
			<ajaxtocart>
				<use>standard</use>
				<args>
					<module>Krishinc_Ajaxtocart</module>
					<frontName>ajaxtocart</frontName>
				</args>			
			</ajaxtocart>
		</routers>
		<layout>
			<updates>
				<ajaxtocart>
					<file>ajaxtocart.xml</file>
				</ajaxtocart>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<ajaxtocart>
				<class>Krishinc_Ajaxtocart_Helper</class>
			</ajaxtocart>
		</helpers>
		<blocks>
			<ajaxtocart>
				<class>Krishinc_Ajaxtocart_Helper</class>
			</ajaxtocart> 
			<catalogsearch>
				<rewrite>
						<advanced_result>Krishinc_Ajaxtocart_Block_Advanced_Result</advanced_result> 
						<result>Krishinc_Ajaxtocart_Block_Result</result> 
				</rewrite>
			</catalogsearch>
			<catalog>
				<rewrite>
					<product_list>Krishinc_Ajaxtocart_Block_List</product_list>
				</rewrite>
			</catalog>
		</blocks>   
		<models> 
			<checkout>
				<rewrite>
					<cart>Krishinc_Ajaxtocart_Model_Cart</cart>
				</rewrite>
			</checkout>
		</models>
	</global>
</config>