<?xml version="1.0"?>
    <config>
        <modules>
            <Krishinc_Award>
                <version>0.1.3</version>
            </Krishinc_Award>
        </modules>     
        <admin>
            <routers>
                <award>
                    <use>admin</use>
                    <args>
                        <module>Krishinc_Award</module>
                        <frontName>awards</frontName>
                    </args>
                </award>
            </routers>
        </admin>
        <adminhtml>
            <menu>
                <catalog>
                    <children>
                        <award module="award">
                            <title>Manage Award Detail</title>
                            <sort_order>101</sort_order>
                            <action>award/adminhtml_award</action>
                        </award> 
                    </children>
                </catalog>
            </menu>
            <acl>
                <resources>
                    <all>
                        <title>Allow Everything</title>
                    </all>
                    <admin>
	                      <children>
		                     <catalog>
		                         <children>
	    	                        <award>
		                                <title>Award Module</title>
		                                <sort_order>101</sort_order>
		                            </award>
	                        	</children>
	                        </catalog>
                        </children>
                    </admin>
                </resources>   
            </acl>
           <!-- <layout>
                <updates>
                    <award>
                        <file>award.xml</file>
                    </award>
                </updates>
            </layout>--> 
        </adminhtml>   
         <frontend> 
	        <layout>
	            <updates>
	                <award> 
	                    <file>award.xml</file>
	                </award>
	            </updates>
	        </layout>
	    </frontend>
        <global>
             <helpers>
                <award>
                    <class>Krishinc_Award_Helper</class>
                </award>
            </helpers> 
            <models>  
                <award>
                    <class>Krishinc_Award_Model</class>
                    <resourceModel>award_mysql4</resourceModel>
                </award>
                <award_mysql4>
                    <class>Krishinc_Award_Model_Mysql4</class>
                    <entities>
                        <award>
                            <table>award</table>
                        </award>
                    </entities> 
                </award_mysql4>  
            </models> 
            <resources>
                <award_setup>
                    <setup>
                        <module>Krishinc_Award</module>
                         <class>Krishinc_Award_Model_Resource_Eav_Mysql4_Setup</class>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </award_setup>
                <award_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </award_write>
                <award_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </award_read>
            </resources>
            <blocks>
                <award>
                    <class>Krishinc_Award_Block</class>
                </award>
            </blocks>  
           <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <award>
                        <type>model</type>
                        <class>award/observer</class>
                        <method>onAttributeSaveAfter</method> 
                    </award>
                </observers>
            </catalog_entity_attribute_save_after>
    	   </events>         
        </global>
    </config>