<!--@subject Dealer's Kit Request@-->

<strong>Company Name: </strong>{{var data.company}}<br/>
<strong>Attention: </strong>{{var data.attention}}<br/>
<strong>Address1: </strong>{{var data.address1}}<br/>
<strong>Address2: </strong>{{var data.address2}}<br/>
<strong>City: </strong>{{var data.city}}<br/>
<strong>State/Province: </strong>{{var data.region}}<br/>
<strong>Country: </strong>{{var data.country_id}}<br/>
<strong>Zipcode: </strong>{{var data.zipcode}}<br/>
<strong>Email: </strong>{{var data.email}}<br/>
<strong>Telephone: </strong>{{var data.phone}}<br/>
 