<!--@subject Customer Address Update@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%" style="margin:20px;">
<tr>
	<td>
		<h2>The following address correction/change was submitted online:</h2>
	</td>
</tr>
<tr>
	<td align="left" valign="top" style="padding:20px 0 20px 0">
		<table border="0" cellpadding="1" cellspacing="0">
			<tr>
				<th align="left"  width="650" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;" colspan="2"> Current Address </th>
			</tr>
			<tr>
				<td><strong>First Name: </strong></td>
				<td>{{var data.firstname}}</td>
			</tr>
			<tr>
				<td><strong>Last Name: </strong></td>
				<td>{{var data.lastname}}</td>
			</tr>
			<tr>
				<td><strong>Address1: </strong></td>
				<td>{{var data.address1}}</td>
			</tr>
			<tr>
				<td><strong>Address2: </strong></td>
				<td>{{var data.address2}}</td>
			</tr>
			<tr>
				<td><strong>City: </strong></td>
				<td>{{var data.city}}</td>
			</tr>
		 
			<tr>
				<td><strong>State/Province: </strong></td>
				<td>{{var data.region}}</td>
			</tr>
		 
			<tr>
				<td><strong>Country: </strong></td>
				<td>{{var data.country_id}}</td>
			</tr>
		 
			<tr>
				<td><strong>Zipcode: </strong></td>
				<td>{{var data.zipcode}}</td>
			</tr>
		 
			<tr>
				<td><strong>Email: </strong></td>
				<td>{{var data.email}}</td>
			</tr>
		 
			<tr>
				<td><strong>Telephone: </strong></td>
				<td>{{var data.phone}}</td>
			</tr> 
		</table>
	
	</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td align="left" valign="top" style="padding:20px 0 20px 0">  
		<table border="0" cellpadding="1" cellspacing="1">
			<tr>
				<th align="left" width="650" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;" colspan="2"> New Address </th>
			</tr>
			<tr>
				<td><strong>First Name: </strong></td>
				<td>{{var data.firstname2}}</td>
			</tr>
			<tr>
				<td><strong>Last Name: </strong></td>
				<td>{{var data.lastname2}}</td>
			</tr>
			<tr>
				<td><strong>Address1: </strong></td>
				<td>{{var data.address12}}</td>
			</tr>
			<tr>
				<td><strong>Address2: </strong></td>
				<td>{{var data.address22}}</td>
			</tr>
			<tr>
				<td><strong>City: </strong></td>
				<td>{{var data.city2}}</td>
			</tr>
		 
			<tr>
				<td><strong>State/Province: </strong></td>
				<td>{{var data.region2}}</td>
			</tr>
		 
			<tr>
				<td><strong>Country: </strong></td>
				<td>{{var data.country_id2}}</td>
			</tr>
		 
			<tr>
				<td><strong>Zipcode: </strong></td>
				<td>{{var data.zipcode2}}</td>
			</tr>
		 
			<tr>
				<td><strong>Email: </strong></td>
				<td>{{var data.email2}}</td>
			</tr>
		 
			<tr>
				<td><strong>Telephone: </strong></td>
				<td>{{var data.phone2}}</td>
			</tr> 
		</table>
	</td>
</tr>

</table>
</div>
</body>