<?xml version="1.0"?>
<config>
	<modules>
		<Krishinc_Grouped>
			<version>0.1.0</version>	
		</Krishinc_Grouped>		
	</modules>
	<frontend>
		<routers>
			<checkout>
				<use>standard</use>
				<args>
					<module>Krishinc_Grouped</module>
					<frontName>checkout</frontName>
				</args>
			 </checkout>
		</routers>
		<events>
		    <checkout_cart_product_add_before>
		        <observers>
		            <Krishinc_Grouped>
		                <class>Krishinc_Grouped_Model_Observer</class>
		                <method>addSeriesProduct</method>
		            </Krishinc_Grouped>
		        </observers>
		    </checkout_cart_product_add_before>
		</events>
	</frontend>
	<global>
		 <rewrite>
			<krishinc_grouped_checkout_cart>
			<from><![CDATA[#^/checkout/cart/#]]></from>
			<to>/checkout/cart/</to>
			</krishinc_grouped_checkout_cart>
		</rewrite>
		 <models>
		      <catalog>
			        <rewrite>
			          <product_type_grouped>Krishinc_Grouped_Model_Product_Type_Grouped</product_type_grouped>
			          <product>Krishinc_Grouped_Model_Product</product>
			        </rewrite>
		      </catalog>
	    </models>
	    <helpers>
		<grouped>
    			<class>Krishinc_Grouped_Helper</class>
	    	</grouped>
	    	<catalog>
	    		<rewrite>
	    			<product_view>Krishinc_Grouped_Helper_Product_View</product_view>
	    		</rewrite>
	    	</catalog>
	    </helpers>	 
	    <blocks>
	    	<grouped>
    			<class>Krishinc_Grouped_Block</class>
	    	</grouped>
	    	<catalog>
	    		<rewrite>
	    			<product_view_attributes>Krishinc_Grouped_Block_Product_View_Attributes</product_view_attributes>
	    		</rewrite>
	    	</catalog>
	    </blocks>	
    	<catalog>
            <product>
                <type>
                  <grouped translate="label" module="catalog">
                        <label>Grouped Product</label>
                        <model>catalog/product_type_grouped</model>
                        <price_model>catalog/product_type_grouped_price</price_model>
                        <composite>1</composite>
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                            <grouped/>
                            <downloadable/>
                        </allow_product_types>
                        <index_priority>50</index_priority>
                        <price_indexer>catalog/product_indexer_price_grouped</price_indexer>
                    </grouped>
                </type>
            </product>
        </catalog> 
	</global>
	<adminhtml>
		 <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <grouped_attribute_save_after>
                        <type>singleton</type>
                        <class>Krishinc_Grouped_Model_Observer</class>
                        <method>onAttributeSaveAfter</method>
                    </grouped_attribute_save_after>
                </observers>
           	</catalog_entity_attribute_save_before>   
        </events>   	
	</adminhtml>
</config>