<?xml version="1.0"?>
<config>
  <modules>
    <CommerceExtensions_Mergecustomers>
      <version>1.2.1</version>
    </CommerceExtensions_Mergecustomers>
  </modules>
  <global>
    <blocks>
      <mergecustomers>
        <class>CommerceExtensions_Mergecustomers_Block</class>
      </mergecustomers>
    </blocks>
    <models>
      <mergecustomers>
        <class>CommerceExtensions_Mergecustomers_Model</class>
        <resourceModel>mergecustomers_mysql4</resourceModel>
      </mergecustomers>
      <Mergecustomers_mysql4>
        <class>CommerceExtensions_Mergecustomers_Model_Mysql4</class>
      </Mergecustomers_mysql4>
    </models>
    <helpers>
      <mergecustomers>
        <class>CommerceExtensions_Mergecustomers_Helper</class>
      </mergecustomers>
    </helpers>
  </global>
  <adminhtml>
    <events>
      <adminhtml_block_html_before>
        <observers>
          <addButton>
            <class>mergecustomers/observer</class>
            <method>addButton</method>
          </addButton>
        </observers>
      </adminhtml_block_html_before>
    </events>
    <layout>
      <updates>
        <mergecustomers>
          <file>commerceextensions/mergecustomers.xml</file>
        </mergecustomers>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <CommerceExtensions_Mergecustomers before="Mage_Adminhtml">CommerceExtensions_Mergecustomers_Adminhtml</CommerceExtensions_Mergecustomers>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
