<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Pressrelease>
            <version>0.1.1</version>
        </Krishinc_Pressrelease>
    </modules>
    <frontend>
        <routers>
            <pressrelease>
                <use>standard</use>
                <args>
                    <module>Krishinc_Pressrelease</module>
                    <frontName>press-releases</frontName>
                </args>
            </pressrelease>
        </routers>
        <layout>
            <updates>
                <pressrelease>
                    <file>pressrelease.xml</file>
                </pressrelease>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pressrelease>
				<use>admin</use>
				<args>
					<module>Krishinc_Pressrelease</module>
					<frontName>pressrelease</frontName>
				</args>
			</pressrelease>
        </routers>
    </admin>
    <adminhtml>
		  <menu>
            <cms>
                <children> 
					<pressrelease module="pressrelease">
						<title>Press Release</title>
						<sort_order>50</sort_order>
						<action>pressrelease/adminhtml_pressrelease</action>
					</pressrelease>
				  </children>
            </cms>
        </menu>
		<acl>
			<resources>
				<admin>
	                <children>
	                    <cms>
	                        <children>
								<pressrelease>
									<title>Pressrelease Module</title>
									<sort_order>50</sort_order>
								</pressrelease>
					 		</children>
                        </cms>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pressrelease>
					<file>pressrelease.xml</file>
				</pressrelease>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<events>
            <controller_front_init_routers>
                <observers>
                    <pressrelease>
                        <class>Krishinc_Pressrelease_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </pressrelease>
                </observers>
            </controller_front_init_routers>
        </events> 
        <models>
            <pressrelease>
                <class>Krishinc_Pressrelease_Model</class>
                <resourceModel>pressrelease_mysql4</resourceModel>
            </pressrelease>
            <pressrelease_mysql4>
                <class>Krishinc_Pressrelease_Model_Mysql4</class>
                <entities>
                    <pressrelease>
                        <table>pressrelease</table>
                    </pressrelease>
                </entities>
            </pressrelease_mysql4>
        </models>
        <resources>
            <pressrelease_setup>
                <setup>
                    <module>Krishinc_Pressrelease</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pressrelease_setup>
            <pressrelease_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pressrelease_write>
            <pressrelease_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pressrelease_read>
        </resources>
        <blocks>
            <pressrelease>
                <class>Krishinc_Pressrelease_Block</class>
            </pressrelease>
        </blocks>
        <helpers>
            <pressrelease>
                <class>Krishinc_Pressrelease_Helper</class>
            </pressrelease>
        </helpers>
    </global>
</config>