<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Softwaredemos>
            <version>0.1.2</version>
        </Krishinc_Softwaredemos>
    </modules> 
    <global>
        <blocks>
            <softwaredemos>
                <class>Krishinc_Softwaredemos_Block</class>
            </softwaredemos>
        </blocks>

        <helpers>
            <softwaredemos>
                <class>Krishinc_Softwaredemos_Helper</class>
            </softwaredemos>
        </helpers> 
		 <models>
            <softwaredemos>
                <class>Krishinc_Softwaredemos_Model</class>
                <resourceModel>softwaredemos_mysql4</resourceModel>
            </softwaredemos>
            <softwaredemos_mysql4>
                <class>Krishinc_Softwaredemos_Model_Mysql4</class>
                <entities>
                    <softwaredemos>
                        <table>softwaredemos</table> 
                    </softwaredemos>
                    <softwaredemos_product>
                    	<table>softwaredemos_product</table>
                    </softwaredemos_product>
                </entities>
            </softwaredemos_mysql4>
        </models>
          <resources>
            <softwaredemos_setup>
                <setup>
                    <module>Krishinc_Softwaredemos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </softwaredemos_setup>
            <softwaredemos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </softwaredemos_write>
            <softwaredemos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </softwaredemos_read>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <krishinc_softwaredemos after="Mage_Adminhtml">Krishinc_Softwaredemos_Adminhtml</krishinc_softwaredemos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<frontend>
	   <routers>
            <softwaredemos>
                <use>standard</use>
                <args>
                    <module>Krishinc_Softwaredemos</module>
                    <frontName>softwaredemos</frontName>
                </args>
            </softwaredemos>
        </routers>
        <layout>
            <updates>
                <softwaredemos>
                    <file>softwaredemos.xml</file>
                </softwaredemos>
            </updates>
        </layout>
     </frontend> 
    <adminhtml>
        <layout>
            <updates>
                <softwaredemos>
                    <file>softwaredemos.xml</file>
                </softwaredemos>
            </updates>
        </layout>
        <translate>
            <modules>
                <softwaredemos>
                    <files>
                        <default>softwaredemos.csv</default>
                    </files>
                </softwaredemos>
            </modules>
        </translate>
    </adminhtml>
</config>
