<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TinyBrick_GiftCard>
            <version>2.2.1</version>
        </TinyBrick_GiftCard>
    </modules>
    <frontend>
        <routers>
            <giftcard>
                <use>standard</use>
                <args>
                    <module>TinyBrick_GiftCard</module>
                    <frontName>giftcard</frontName>
                </args>
            </giftcard>
        </routers>
        <layout>
            <updates>
                <giftcard>
                    <file>giftcard.xml</file>
                </giftcard>
            </updates>
        </layout>
    </frontend>
    <global>
		<rewrite>
            <tinybrick_giftcard_onepage_success>
	            <from><![CDATA[#^/checkout/onepage/success/(.*)#]]></from>
	            <to>giftcard/onepage/success</to>
            </tinybrick_giftcard_onepage_success>
		</rewrite>
		<models>
            <giftcard>
                <class>TinyBrick_GiftCard_Model</class>
                <resourceModel>giftcard_resource</resourceModel>
            </giftcard>
            <giftcard_resource>
                <class>TinyBrick_GiftCard_Model_Resource</class>
                <entities>
                    <giftcard>
                        <table>giftcard_entity</table>
                    </giftcard>
                    <payment>
                        <table>giftcard_payment</table>
                    </payment>
                </entities>
            </giftcard_resource>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>TinyBrick_GiftCard_Model_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                    <quote_payment>TinyBrick_GiftCard_Model_Quote_Payment</quote_payment>
                    <quote>TinyBrick_GiftCard_Model_Quote</quote>
                </rewrite>
            </sales>
            <checkout>
            	<rewrite>
            		<type_onepage>TinyBrick_GiftCard_Model_Type_Onepage</type_onepage>
            	</rewrite>
            </checkout>
        </models>

		<resources>
			<giftcard_setup>
				<setup>
                    <module>TinyBrick_GiftCard</module>
                </setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</giftcard_setup>
			<giftcard_write>
				<connection>
					<use>default_write</use>
				</connection>
			</giftcard_write>
			<giftcard_read>
				<connection>
					<use>default_read</use>
				</connection>
			</giftcard_read>
		</resources>

		<blocks>
            <giftcard>
                <class>TinyBrick_GiftCard_Block</class>
            </giftcard>
            <checkout>
				<rewrite>
					<onepage_payment>TinyBrick_GiftCard_Block_Onepage_Payment</onepage_payment>
					<onepage_payment_methods>TinyBrick_GiftCard_Block_Onepage_Payment_Methods</onepage_payment_methods>
					<cart_totals>TinyBrick_GiftCard_Block_Cart_Totals</cart_totals>
				</rewrite>
			</checkout>
        </blocks>
        <helpers>
            <giftcard>
                <class>TinyBrick_GiftCard_Helper</class>
            </giftcard>
        </helpers>
        <events>	
		    <checkout_onepage_controller_success_action>
		    	<observers>
		    		<giftcard>
		    			<type>singleton</type>
		    			<class>giftcard/checkout_cart_observer</class>
		    			<method>saveOrderItemAttributes</method>
		    		</giftcard>
		    	</observers>
		    </checkout_onepage_controller_success_action>
                    <checkout_cart_save_before>
                        <observers>
                                <giftcard>
                                        <type>singleton</type>
                                        <class>giftcard/sales_quote_observer</class>
                                        <method>removeCard</method>
                                </giftcard>
                        </observers>
                    </checkout_cart_save_before>
	    </events>  	
	</global>

	<adminhtml>
		<menu>
			<tinybrick>
				<title>TinyBrick</title>
				<sort_order>71</sort_order>               
				<children>
                                    <giftcard_module>
                                        <title>Gift Card</title>
                                        <sort_order>11</sort_order>
                                        <children>
                                            <giftcards module="giftcard">
                                                    <title>Manage Gift Cards</title>
                                                    <sort_order>21</sort_order>
                                                    <action>giftcard/adminhtml_giftcard/index</action>
                                            </giftcards>
                                            <!--<giftcards_upload module="giftcard">
                                                    <title>Bulk Upload</title>
                                                    <sort_order>22</sort_order>
                                                    <action>giftcard/adminhtml_giftcard/index</action>
                                            </giftcards_upload>-->
                                        </children>
                                    </giftcard_module>
				</children>
			</tinybrick>
		</menu>
        <layout>
			<updates>
				<giftcard>
					<file>giftcard.xml</file>
				</giftcard>
			</updates>
		</layout>
		<acl>
            <resources>
                <admin>
                    <children>
                        <giftcard translate="title" module="giftcard">
                            <title>Gift Cards</title>
                            <sort_order>60</sort_order>
                            <children>
                                <giftcards>
                                    <title>Manage Gift Cards</title>
                                </giftcards>
                            </children>
                       </giftcard>
                   </children>
               </admin>
           </resources>
        </acl>    
    </adminhtml>
    
	<default>
         <carriers>
            <giftcard>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>giftcard/carrier_giftcard</model>
                <name>Giftcard</name>
                <price>0.00</price>
                <title>Free Ship Gift Cards</title>
                <type>O</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </giftcard>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <giftcard_removeauths>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>giftcard/giftcard::removeAuths</model></run>
            </giftcard_removeauths>
        </jobs>
    </crontab>
</config>