<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Standards>
            <version>0.1.1</version>
        </Krishinc_Standards>
    </modules>
    <frontend>
        <routers>
            <standards>
                <use>standard</use>
                <args>
                    <module>Krishinc_Standards</module>
                    <frontName>standards</frontName>
                </args>
            </standards>
        </routers>
        <layout>
            <updates>
                <standards>
                    <file>standards.xml</file>
                </standards>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<standards>
				<use>admin</use>
				<args>
					<module>Krishinc_Standards</module>
					<frontName>standards</frontName>
				</args>
			</standards>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<standards>
					<file>standards.xml</file>
				</standards>
			</updates>
		</layout>
    </adminhtml>   
    <global> 
        <models>
            <standards>
                <class>Krishinc_Standards_Model</class>
                <resourceModel>standards_mysql4</resourceModel>
            </standards>
            <standards_mysql4>
                <class>Krishinc_Standards_Model_Mysql4</class>
                <entities>
                    <standards>
                        <table>standards</table>
                    </standards>
                </entities>
            </standards_mysql4>
        </models>
        <resources>
            <standards_setup>
                <setup>
                    <module>Krishinc_Standards</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </standards_setup>
            <standards_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </standards_write>
            <standards_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </standards_read>
        </resources>
        <blocks>
            <standards>
                <class>Krishinc_Standards_Block</class>
            </standards>
        </blocks>
        <helpers>
            <standards>
                <class>Krishinc_Standards_Helper</class>
            </standards>
        </helpers>
    </global>
</config>