<?xml version="1.0"?>
<config>
    <sections>
        <customer> 
            <groups>
                <catalogrequest>
                    <label>Catalog Request - Catalog Code</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <catalog_code>
                            <label>Catalog Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_code>
                    </fields>
                </catalogrequest> 
            </groups>
        </customer>
    </sections>
</config>
