<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Fieldtester>
            <version>0.1.1</version>
        </Krishinc_Fieldtester>
    </modules>
    <frontend>
        <routers>
            <fieldtester>
                <use>standard</use>
                <args>
                    <module>Krishinc_Fieldtester</module>
                    <frontName>fieldtester</frontName>
                </args>
            </fieldtester>
        </routers>
        <layout>
            <updates>
                <fieldtester>
                    <file>fieldtester.xml</file>
                </fieldtester>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fieldtester>
				<use>admin</use>
				<args>
					<module>Krishinc_Fieldtester</module>
					<frontName>fieldtester</frontName>
				</args>
			</fieldtester>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customer>
				<children>
					<fieldtester>
						<title>Field Tester</title>
						<sort_order>102</sort_order>
						<action>fieldtester/adminhtml_fieldtester</action>
					</fieldtester>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customer>
							<children>
								<fieldtester>
									<title>Fieldtester Module</title>
									<sort_order>102</sort_order>
								</fieldtester>
							</children>
						</customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fieldtester>
					<file>fieldtester.xml</file>
				</fieldtester>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fieldtester>
                <class>Krishinc_Fieldtester_Model</class>
                <resourceModel>fieldtester_mysql4</resourceModel>
            </fieldtester>
            <fieldtester_mysql4>
                <class>Krishinc_Fieldtester_Model_Mysql4</class>
                <entities>
                    <fieldtester>
                        <table>fieldtester</table>
                    </fieldtester>
                </entities>
            </fieldtester_mysql4>
        </models>
        <resources>
            <fieldtester_setup>
                <setup>
                    <module>Krishinc_Fieldtester</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fieldtester_setup>
            <fieldtester_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fieldtester_write>
            <fieldtester_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fieldtester_read>
        </resources>
        <blocks>
            <fieldtester>
                <class>Krishinc_Fieldtester_Block</class>
            </fieldtester>
        </blocks>
        <helpers>
            <fieldtester>
                <class>Krishinc_Fieldtester_Helper</class>
            </fieldtester>
        </helpers>
    </global>
</config>