<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Dealerskit>
            <version>0.1.2</version>
        </Krishinc_Dealerskit>
    </modules>
    <frontend>
        <routers>
            <dealerskit>
                <use>standard</use>
                <args>
                    <module>Krishinc_Dealerskit</module>
                    <frontName>dealerskit</frontName>
                </args>
            </dealerskit>
        </routers>
        <layout>
            <updates>
                <dealerskit>
                    <file>dealerskit.xml</file>
                </dealerskit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<dealerskit>
				<use>admin</use>
				<args>
					<module>Krishinc_Dealerskit</module>
					<frontName>dealerskit</frontName>
				</args>
			</dealerskit>
        </routers>
    </admin>
    <adminhtml>
		<menu> 
			<customer>
				<children>
					<dealerskit>
						<title>Dealers Kit Request</title>
						<sort_order>106</sort_order>
						<action>dealerskit/adminhtml_dealerskit</action>
					</dealerskit>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customer>
							<children>
								<dealerskit>
									<title>Catalog Request</title>
									<sort_order>103</sort_order>
								</dealerskit>
							</children>
						</customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<dealerskit>
					<file>dealerskit.xml</file>
				</dealerskit>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <dealerskit>
                <class>Krishinc_Dealerskit_Model</class>
                <resourceModel>dealerskit_mysql4</resourceModel>
            </dealerskit>
            <dealerskit_mysql4>
                <class>Krishinc_Dealerskit_Model_Mysql4</class>
                <entities>
                    <dealerskit>
                        <table>dealerskit</table>
                    </dealerskit>
                </entities>
            </dealerskit_mysql4>
        </models>
        <resources>
            <dealerskit_setup>
                <setup>
                    <module>Krishinc_Dealerskit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dealerskit_setup>
            <dealerskit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dealerskit_write>
            <dealerskit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dealerskit_read>
        </resources>
        <blocks>
            <dealerskit>
                <class>Krishinc_Dealerskit_Block</class>
            </dealerskit>
        </blocks>
        <helpers>
            <dealerskit>
                <class>Krishinc_Dealerskit_Helper</class>
            </dealerskit>
        </helpers>
         
         <translate>
            <modules>
                <Krishinc_Dealserskit>
                    <files>
                        <default>Krishinc_Dealserskit.csv</default>
                    </files>
                </Krishinc_Dealserskit>
            </modules>
        </translate>
         <template>
            <email>
                <dealerskit_email_email_template translate="label" module="dealerskit">
                    <label>Dealer's Kit Request</label>
                    <file>dealerskit_form.html</file>
                    <type>html</type>
                </dealerskit_email_email_template>
            </email>
        </template> 
        
    </global>
    
    
     <default>
        <dealerskit>
            <dealerskit>
                <enabled>1</enabled>
            </dealerskit>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>dealerskit_email_email_template</email_template>
            </email>
        </dealerskit>
    </default>
</config>