<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Offerlanding>
            <version>0.1.3</version>
        </Krishinc_Offerlanding>
    </modules>
    <frontend>
        <routers>
            <offerlanding>
                <use>standard</use>
                <args>
                    <module>Krishinc_Offerlanding</module>
                    <frontName>free-gift-form</frontName>
                </args>
            </offerlanding>
        </routers>
        <layout>
            <updates>
                <offerlanding>
                    <file>offerlanding.xml</file>
                </offerlanding>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<offerlanding>
				<use>admin</use>
				<args>
					<module>Krishinc_Offerlanding</module>
					<frontName>offerlanding</frontName>
				</args>
			</offerlanding>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customer>
				<children>
					<offerlanding>
						<title>Landing page Email Sign-up (Free gift)</title>
						<sort_order>106</sort_order>
						<action>offerlanding/adminhtml_offerlanding</action>
					</offerlanding>
  <puzzle>
                        <title>Puzzle of the Week Email Sign-up</title>
                        <sort_order>107</sort_order>
                        <action>offerlanding/adminhtml_puzzle</action>
                    </puzzle>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customer>
							<children>
								<offerlanding>
									<title>Landing page Email Sign-up (Free gift)</title>
									<sort_order>106</sort_order>
								</offerlanding>
 <puzzle>
                                    <title>Puzzle of the Week Email Sign-up</title>
                                    <sort_order>107</sort_order>
                                </puzzle>
							</children>
						</customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<offerlanding>
					<file>offerlanding.xml</file>
				</offerlanding>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <offerlanding>
                <class>Krishinc_Offerlanding_Model</class>
                <resourceModel>offerlanding_mysql4</resourceModel>
            </offerlanding>
            <offerlanding_mysql4>
                <class>Krishinc_Offerlanding_Model_Mysql4</class>
                <entities>
                    <offerlanding>
                        <table>offerlanding</table>
                    </offerlanding>
 <puzzle>
                        <table>puzzle</table>
                    </puzzle>
                </entities>
            </offerlanding_mysql4>
        </models>
        <resources>
            <offerlanding_setup>
                <setup>
                    <module>Krishinc_Offerlanding</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </offerlanding_setup>
            <offerlanding_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offerlanding_write>
            <offerlanding_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offerlanding_read>
        </resources>
        <blocks>
            <offerlanding>
                <class>Krishinc_Offerlanding_Block</class>
            </offerlanding>
        </blocks>
        <helpers>
            <offerlanding>
                <class>Krishinc_Offerlanding_Helper</class>
            </offerlanding>
        </helpers>
    </global>
</config>
