<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Overridenewsletter>
            <version>0.1.0</version>
        </Krishinc_Overridenewsletter>
    </modules>
    <frontend>
    	<routers>
			<overridenewsletter>
			<use>standard</use>
				<args>
					<module>Krishinc_Overridenewsletter</module>
					<frontName>overridenewsletter</frontName>
				</args>
			</overridenewsletter>	
		</routers>    
      	<layout>
			<updates>
				<overridenewsletter>
					<file>overridenewsletter.xml</file>
	            </overridenewsletter>
	        </updates>
	 	</layout>      
    </frontend>  
    <global>
    	 <blocks>
            <overridenewsletter>
                <class>Krishinc_Overridenewsletter_Block</class>
           </overridenewsletter>
            <adminhtml>
	           	<rewrite>
	           		<newsletter_subscriber_grid>Krishinc_Overridenewsletter_Block_Adminhtml_Subscriber_Grid</newsletter_subscriber_grid> 
	           	</rewrite>
       	 </adminhtml> 
        </blocks>
        <models> 
            <overridenewsletter>
            	<class>Krishinc_Overridenewsletter_Model</class> 
            </overridenewsletter>
            <newsletter> 
        	  	 <rewrite>
            		<subscriber>Krishinc_Overridenewsletter_Model_Subscriber</subscriber>  
            		<observer>Krishinc_Overridenewsletter_Model_Observer</observer>  
            	</rewrite> 
            </newsletter>
        </models>  
          <helpers>
        	<overridenewsletter>
        		<class>Krishinc_Overridenewsletter_Helper</class>
        	</overridenewsletter>
        	<newsletter>
        		<rewrite>
        			<data>Krishinc_Overridenewsletter_Helper_Data</data>
        		</rewrite>
        	</newsletter>
        </helpers> 
        <resources>
            <overridenewsletter_setup>
	            <setup>
	               <module>Krishinc_Overridenewsletter</module>
					<class>Mage_Eav_Model_Entity_Setup</class> 
	            </setup> 
	            <connection>
	               <use>core_setup</use>
	            </connection>
        	</overridenewsletter_setup>
        </resources> 
        <rewrite>
        	<overridenewsletter_manage>
        		<from><![CDATA[#^/newsletter/subscriber/#]]></from>
        		<to>/overridenewsletter/subscriber</to>
        	</overridenewsletter_manage>
        </rewrite>
         <helpers>
	         <newsletter>
	         	<rewrite>
	        		<data>Krishinc_Overridenewsletter_Helper_Data</data>
	        	</rewrite>
	        </newsletter>
        </helpers>
    </global>
    
</config>    