<?xml version="1.0"?> 
<config>
    <modules>
        <Krishinc_Reviews>
            <version>1.0.0</version>
            <platform>ce</platform>
            <depends>
                <Mage_Review />
            </depends>
        </Krishinc_Reviews>
    </modules>
    <frontend>
            <routers>
                <review>
                    <args>
                        <modules>
                            <Krishinc_Reviews before="Mage_Review">Krishinc_Reviews</Krishinc_Reviews>
                        </modules>
                    </args>
                </review>
            </routers>
       </frontend>
       <global>
        	<blocks>
        		<reviews>
        			<class>Krishinc_Reviews_Block</class>
        		</reviews>
        		<review>
	        		<rewrite>
	        			<helper>Krishinc_Reviews_Block_Helper</helper>
	        			<product_view>Krishinc_Reviews_Block_Product_View</product_view>
	        		</rewrite>
        		</review>
	    		<adminhtml>
	                <rewrite>
	                    <review_edit_form>Krishinc_Reviews_Block_Adminhtml_Review_Edit_Form</review_edit_form>
	                    <review_add_form>Krishinc_Reviews_Block_Adminhtml_Review_Add_Form</review_add_form>
	                    <review_grid>Krishinc_Reviews_Block_Adminhtml_Review_Grid</review_grid>
	                </rewrite>
	            </adminhtml>
        	</blocks>	
        	<helpers>
        		<reviews>
        			<class>Krishinc_Reviews_Helper</class>
        		</reviews>
        	</helpers>
        	<models>
        		<review_mysql4>
		      		<rewrite>
		      			<review>Krishinc_Reviews_Model_Resource_Review</review>
		      			<review_collection>Krishinc_Reviews_Model_Resource_Review_Collection</review_collection>
        			</rewrite>
        		</review_mysql4>
        		<review_resource> 
        			<rewrite>
        				<review_product_collection>Krishinc_Reviews_Model_Resource_Review_Product_Collection</review_product_collection>
        			</rewrite> 
        		</review_resource>
        		<review>
        			<rewrite>
        				<review>Krishinc_Reviews_Model_Review</review>
        			</rewrite>
        		</review>
        	</models>
        </global>
</config>