<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Free>
            <version>0.1.0</version>
        </Krishinc_Free>
    </modules>
     <frontend>
        <routers>
            <free>
                <use>standard</use>
                <args>
                    <module>Krishinc_Free</module>
                    <frontName>free</frontName> 
                </args>
            </free>
        </routers> 
        <layout>
            <updates>
                <free>
                    <file>free.xml</file>
                </free>
            </updates>
        </layout>
    </frontend>
	  <default>
		   <web>
		     <routers>
		        <free_router>
		            <area>frontend</area>
		            <class>Krishinc_Free_Controller_Router</class>
		        </free_router>
		    </routers>
		   </web>
	</default>
        <admin>
        <routers>
			<free>
				<use>admin</use>
				<args>
					<module>Krishinc_Free</module>
					<frontName>free</frontName>
				</args>
			</free>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<cms>
			<children>
				<free module="free">
					<title>Donations</title>
					<sort_order>50</sort_order>
					<action>free/adminhtml_free</action>
				</free>
			</children>	
		</cms>
	</menu>			
		<acl>
			<resources>
			    <admin>
				<children>
				    <system>
				        <children>
				            <config>
				                <children>
				                    <free translate="title" module="free">
				                        <title>free</title>
				                        <sort_order>999</sort_order>
				                    </free>
				                </children>
				            </config>
				        </children>
				    </system>
				</children>
			    </admin>
			</resources>
	        </acl>
		<layout>
			<updates>
				<free>
					<file>free.xml</file>
				</free>
			</updates>
		</layout>
    </adminhtml>   
 	<global>
                   <models>
            <free>
                <class>Krishinc_Free_Model</class>
                <resourceModel>free_mysql4</resourceModel>
            </free>
            <free_mysql4>
                <class>Krishinc_Free_Model_Mysql4</class>
                <entities>
                    <free>
                        <table>donation</table>
                    </free>
                </entities>
            </free_mysql4>
        </models>
        <resources>
            <free_setup>
                <setup>
                    <module>Krishinc_Free</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </free_setup>
            <free_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </free_write>
            <free_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </free_read>
        </resources>
 		<page>
            <layouts> 
		 		<logo_content module="page" translate="label">
			        <label>Logo Content[For Free Download]</label>
			        <template>page/logo_content.phtml</template>
		            <layout_handle>page_logo_content</layout_handle>
		         </logo_content> 
		    </layouts>
         </page>
         <blocks>
         	<free>
         		<class>Krishinc_Free_Block</class>
         	</free>
         </blocks>
 		 <helpers>
	            <free>
	                <class>Krishinc_Free_Helper</class>
	            </free>
        </helpers>

 	</global>    
</config>
