<?xml version="1.0"?>

<config>
    <modules>
        <Krishinc_Overridepo>
            <version>0.1.6</version>
        </Krishinc_Overridepo>
    </modules>
     <admin>
          <routers>
            <adminhtml>
                <args>
                    <modules>
                        <overridepo before="Mage_Adminhtml">Krishinc_Overridepo_Adminhtml</overridepo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
    	<models>
    		<overridepo>
				<class>Krishinc_Overridepo_Model</class>
			</overridepo>
			<payment>
				<rewrite>
					<method_purchaseorder>Krishinc_Overridepo_Model_Method_Purchaseorder</method_purchaseorder>
					<method_checkmo>Krishinc_Overridepo_Model_Method_Checkmo</method_checkmo>
				</rewrite>
			</payment>	
			 <adminhtml>
		        <rewrite> 
	                <sales_order_create>Krishinc_Overridepo_Model_Adminhtml_Sales_Order_Create</sales_order_create> 
		        </rewrite> 		
		     </adminhtml>
	        <sales_resource>
		     	<rewrite>
		     		<order>Krishinc_Overridepo_Model_Resource_Order</order>
		     	</rewrite>
		     </sales_resource> 
		      <sales>
		     	<rewrite>
		     		<order_api>Krishinc_Overridepo_Model_Order_Api</order_api>
		     		<order_api_v2>Krishinc_Overridepo_Model_Order_Api_V2</order_api_v2>
		     	</rewrite>
		     </sales>	
		</models>
		<blocks>
			<overridepo>
				<class>Krishinc_Overridepo_Block</class>
			</overridepo>
			<payment>
				<rewrite>
					<info_purchaseorder>Krishinc_Overridepo_Block_Info_Purchaseorder</info_purchaseorder>
					<form_purchaseorder>Krishinc_Overridepo_Block_Form_Purchaseorder</form_purchaseorder>
					<info_checkmo>Krishinc_Overridepo_Block_Info_Checkmo</info_checkmo>
					<form_checkmo>Krishinc_Overridepo_Block_Form_Checkmo</form_checkmo> 
				</rewrite>
			</payment>	 
		    <adminhtml>
		        <rewrite> 
		        	<customer_grid>Krishinc_Overridepo_Block_Adminhtml_Customer_Grid</customer_grid>
			        <customer_edit_tab_orders>Krishinc_Overridepo_Block_Adminhtml_Customer_Edit_Tab_Orders</customer_edit_tab_orders>
		            <sales_order_grid>Krishinc_Overridepo_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
		            <sales_order_create_search_grid>Krishinc_Overridepo_Block_Adminhtml_Sales_Order_Create_Search_Grid</sales_order_create_search_grid> 
		            <sales_order_create_customer_grid>Krishinc_Overridepo_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
		        </rewrite>
		    </adminhtml> 
		</blocks>
		<helpers>
			<overridepo>
				<class>Krishinc_Overridepo_Helper</class>
			</overridepo>
		</helpers>
  	    <resources>
            <overridepo_setup>
	            <setup>
	               <module>Krishinc_Overridepo</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
	            </setup>
	            <connection>
	               <use>core_setup</use>
	            </connection>
        	</overridepo_setup>
        </resources>
        
		<fieldsets>
             <sales_convert_quote_payment> 
                <credit_limit>
                    <to_order_payment>*</to_order_payment>
                </credit_limit>
                <netterm>
                    <to_order_payment>*</to_order_payment>
                </netterm> 
                <check_number>
                    <to_order_payment>*</to_order_payment>
                </check_number>
                <check_amt>
                    <to_order_payment>*</to_order_payment>
                </check_amt>
             </sales_convert_quote_payment> 
              <sales_convert_order_payment> 
                <credit_limit>
                    <to_quote_payment>*</to_quote_payment>
                </credit_limit>  
                <netterm>
                    <to_quote_payment>*</to_quote_payment>
                </netterm>  
                <check_number>
                    <to_quote_payment>*</to_quote_payment>
                </check_number> 
                 <check_amt>
                    <to_quote_payment>*</to_quote_payment>
                </check_amt>
             </sales_convert_order_payment> 
			<!--<sales_convert_order>
			  <customer_netterm>
			    <to_quote>*</to_quote>
			  </customer_netterm> 
			</sales_convert_order>-->
			<customer_account>
				<netterm> 
					 <to_quote>customer_netterm</to_quote>
				</netterm>
			</customer_account>
        </fieldsets>
        <events>
	        <checkout_submit_all_after>
	        	    <observers>
	                    <overridepo>
	                        <class>Krishinc_Overridepo_Model_Observer</class>
	                        <method>sales_order_create_process_data</method>
	                    </overridepo>
	                </observers>
	        </checkout_submit_all_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <overridepo>
                    <file>overridepo.xml</file>
                </overridepo>
            </updates>
        </layout>
           <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <overridepo>
                        <class>Krishinc_Overridepo_Model_Adminhtml_Observer</class>
                        <method>adminhtml_sales_order_create_process_data</method>
                    </overridepo>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_convert_quote_to_order>
                <observers>
                    <overridepo>
                        <type>model</type>
                        <class>Krishinc_Overridepo_Model_Adminhtml_Observer</class>
                        <method>sales_convert_quote_to_order</method> 
                    </overridepo>
                </observers>
            </sales_convert_quote_to_order>
        </events>  
    </adminhtml>
</config>