<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Customcontact>
            <version>0.1.1</version>
        </Krishinc_Customcontact>
    </modules>
    <frontend>
        <routers>
            <customcontact>
                <use>standard</use>
                <args>
                    <module>Krishinc_Customcontact</module>
                    <frontName>customcontact</frontName>
                </args>
            </customcontact>
        </routers>
        <layout>
            <updates>
                <customcontact>
                    <file>customcontact.xml</file>
                </customcontact>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customcontact>
				<use>admin</use>
				<args>
					<module>Krishinc_Customcontact</module>
					<frontName>customcontact</frontName>
				</args>
			</customcontact>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customer>
				<children>
					<customcontact>
						<title>Contact Us</title>
						<sort_order>101</sort_order>
						<action>customcontact/adminhtml_customcontact</action>
					</customcontact>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customer>
							<children>
								<customcontact>
									<title>Custom Contact Module</title>
									<sort_order>101</sort_order>
								</customcontact>
							</children>
						</customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customcontact>
					<file>customcontact.xml</file>
				</customcontact>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customcontact>
                <class>Krishinc_Customcontact_Model</class>
                <resourceModel>customcontact_mysql4</resourceModel>
            </customcontact>
            <customcontact_mysql4>
                <class>Krishinc_Customcontact_Model_Mysql4</class>
                <entities>
                    <customcontact>
                        <table>customcontact</table>
                    </customcontact>
                </entities>
            </customcontact_mysql4>
        </models>
        <resources>
            <customcontact_setup>
                <setup>
                    <module>Krishinc_Customcontact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customcontact_setup>
            <customcontact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customcontact_write>
            <customcontact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customcontact_read>
        </resources>
        <blocks>
            <customcontact>
                <class>Krishinc_Customcontact_Block</class>
            </customcontact>
        </blocks>
        <helpers>
            <customcontact>
                <class>Krishinc_Customcontact_Helper</class>
            </customcontact>
        </helpers>
    </global>
</config>
