<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Advancecustomer>
            <version>0.1.6</version>
        </Krishinc_Advancecustomer>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                 <customer_type>    
                    <billing>1</billing>
                    <shipping>1</shipping>
                </customer_type>
                 <address_street1>    
                    <billing>1</billing>
                    <shipping>1</shipping>
                </address_street1>
	             <address_street2>	
                    <billing>1</billing>
                    <shipping>1</shipping>
                </address_street2>
                <nomail>	
                    <billing>1</billing> 
                </nomail>
            </customer_dataflow>
         </fieldsets>
          <routers>
            <adminhtml>
                <args>
                    <modules>
                        <advancecustomer before="Mage_Adminhtml">Krishinc_Advancecustomer_Adminhtml</advancecustomer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
    	<helpers>
    		<advancecustomer>
    			<class>Krishinc_Advancecustomer_Helper</class>
    		</advancecustomer>
    	</helpers>
    	<models>
    		<advancecustomer>
    			<class>Krishinc_Advancecustomer_Model</class>
    			<resourceModel>advancecustomer_resource</resourceModel>
    			<advancecustomer_resource>
					<class>Mage_Customer_Model_Resource</class> 
    			</advancecustomer_resource>
    		</advancecustomer>
    		<customer>
    			<rewrite>
    				<customer>Krishinc_Advancecustomer_Model_Customer</customer>
    			</rewrite>
    		</customer>
    		<!--<checkout>
            	<rewrite>
            		<type_onepage>Krishinc_Advancecustomer_Model_Type_Onepage</type_onepage>
            	</rewrite>
            </checkout> -->
    	</models>
    	<blocks>
    		<advancecustomer>
    			<class>Krishinc_Advancecustomer_Block</class>
    		</advancecustomer>
    		<adminhtml>
    		<rewrite>
    			<sales_order_view_info>Krishinc_Advancecustomer_Block_Admin_Sales_Order_View_Info</sales_order_view_info>
    			<customer_edit_tab_addresses>Krishinc_Advancecustomer_Block_Adminhtml_Edit_Tab_Addresses</customer_edit_tab_addresses>
                        <customer_edit_tab_account>Krishinc_Advancecustomer_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
                        <customer_edit_renderer_newpass>Krishinc_Advancecustomer_Block_Adminhtml_Customer_Edit_Renderer_Newpass</customer_edit_renderer_newpass>
    		</rewrite>
    		</adminhtml>
    	</blocks>
    	<resources>
    		<advancecustomer_setup>
    			<setup>
    				<module>Krishinc_Advancecustomer</module>
    				<class>Mage_Customer_Model_Resource_Setup</class>
    			</setup>
    		</advancecustomer_setup>
    	</resources>
    	<fieldsets>
           <!--<customer_account>
           		 <customer_type>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </customer_type>
           </customer_account>-->
           <checkout_onepage_billing>
           		 <customer_type>
                    <to_customer>customer_type</to_customer>
                </customer_type>
           </checkout_onepage_billing>
           <checkout_onepage_quote>
		         <customer_type> 
		             <to_customer>customer_type</to_customer>
        		 </customer_type>
      	 </checkout_onepage_quote>
         <customer_address>
            <customer_type>
          		<to_quote_address>customer_type</to_quote_address> 
            </customer_type>
            <nomail>
                  <to_quote_address>nomail</to_quote_address> 
            </nomail>
            <address_street1>
                  <to_quote_address>address_street1</to_quote_address> 
            </address_street1>
            <address_street2>
          		<to_quote_address>address_street2</to_quote_address> 
            </address_street2>
        </customer_address> 
        <sales_convert_quote_address>
        	<customer_type>
		  	    <to_order_address>*</to_order_address>
                <to_customer_address>*</to_customer_address>
        	</customer_type>  
        	<nomail>
		  	    <to_order_address>*</to_order_address>
                <to_customer_address>*</to_customer_address>
        	</nomail>  
            <address_street1>
                <to_order_address>*</to_order_address>
                <to_customer_address>*</to_customer_address>
            </address_street1>
            <address_street2>
                <to_order_address>*</to_order_address>
                <to_customer_address>*</to_customer_address>
            </address_street2>
        </sales_convert_quote_address>  
         <sales_convert_order_address>  
        	 <customer_type>
    		    <to_quote_address>*</to_quote_address>
        	</customer_type>
        	<nomail>
                <to_quote_address>*</to_quote_address>
            </nomail>
            <address_street1>
                <to_quote_address>*</to_quote_address>
            </address_street1>
            <address_street2>
    		    <to_quote_address>*</to_quote_address>
        	</address_street2> 
         </sales_convert_order_address>
       </fieldsets>
       <template>
            <email>
                <customer_create_account_admin_email_template translate="label" module="customer">
                    <label>New account</label>
                    <file>account_new_fromadmin.html</file>
                    <type>html</type>
                </customer_create_account_admin_email_template>
                <customer_create_account_admin_email_confirmation_template translate="label" module="customer">
                    <label>New account confirmation key</label>
                    <file>account_new_confirmation_fromadmin.html</file>
                    <type>html</type>
                </customer_create_account_admin_email_confirmation_template> 
                 <customer_password_admin_remind_email_template translate="label" module="customer">
                    <label>Admin Remind Password</label>
                    <file>password_new_fromadmin.html</file>
                    <type>html</type>
                </customer_password_admin_remind_email_template>
            </email>
        </template> 
    </global>
    <adminhtml>
	<events>
	        <adminhtml_customer_prepare_save>
		        <observers>
		            <advancecustomer>
		                <class>Krishinc_Advancecustomer_Model_Observer</class>
		                <method>prepareCustomerSave</method>
		            </advancecustomer>
		        </observers>
	        </adminhtml_customer_prepare_save>
        </events>  
    </adminhtml>
</config>