<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Teachingsupport>
            <version>0.1.1</version>
        </Krishinc_Teachingsupport>
    </modules>
    <frontend>
        <routers>
            <teachingsupport>
                <use>standard</use>
                <args>
                    <module>Krishinc_Teachingsupport</module>
                    <frontName>teachingsupport</frontName>
                </args>
            </teachingsupport>
        </routers>
        <layout>
            <updates>
                <teachingsupport>
                    <file>teachingsupport.xml</file>
                </teachingsupport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<teachingsupport>
				<use>admin</use>
				<args>
					<module>Krishinc_Teachingsupport</module>
					<frontName>teachingsupport</frontName>
				</args>
			</teachingsupport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>          
				<children>
					<teachingsupport module="teachingsupport">
						<title>Teaching Support</title>
						<sort_order>70</sort_order>
						<action>teachingsupport/adminhtml_teachingsupport</action>
					</teachingsupport>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cms>
							<children>
								<teachingsupport>
									<title>Teaching Support Module</title>
									<sort_order>70</sort_order>
								</teachingsupport>
							</children>
						</cms>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<teachingsupport>
					<file>teachingsupport.xml</file>
				</teachingsupport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <teachingsupport>
                <class>Krishinc_Teachingsupport_Model</class>
                <resourceModel>teachingsupport_mysql4</resourceModel>
            </teachingsupport>
            <teachingsupport_mysql4>
                <class>Krishinc_Teachingsupport_Model_Mysql4</class>
                <entities>
                    <teachingsupport>
                        <table>teachingsupport</table>
                    </teachingsupport>
                </entities>
            </teachingsupport_mysql4>
        </models>
        <resources>
            <teachingsupport_setup>
                <setup>
                    <module>Krishinc_Teachingsupport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </teachingsupport_setup>
            <teachingsupport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teachingsupport_write>
            <teachingsupport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teachingsupport_read>
        </resources>
        <blocks>
            <teachingsupport>
                <class>Krishinc_Teachingsupport_Block</class>
            </teachingsupport>
        </blocks>
        <helpers>
            <teachingsupport>
                <class>Krishinc_Teachingsupport_Helper</class>
            </teachingsupport>
        </helpers>
    </global>
</config>