<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Recentsold>
            <version>0.1.0</version>
        </Krishinc_Recentsold>
    </modules>
    <global> 
    	<blocks>
            <recentsold>
                <class>Krishinc_Recentsold_Block</class>
            </recentsold>
        </blocks>
    	<helpers>
            <recentsold>
                <class>Krishinc_Recentsold_Helper</class>
            </recentsold>
        </helpers>
    </global> 
    <frontend>
	    <routers>
    		<recentsold>	
    			<use>standard</use>
    			<args>
    				<module>Krishinc_Recentsold</module>
    				<frontName>recentsold</frontName>
    			</args>
    		</recentsold>	
	    </routers>
    	<layout>
    		<updates>
    			<recentsold>	
    				<file>recentsold.xml</file>
    			</recentsold>
    		</updates>
    	</layout>
    </frontend>
</config>