<?xml version="1.0"?>
<config>
	<modules>
		<Krishinc_Listrak>
			<version>0.0.1</version>
		</Krishinc_Listrak>
	</modules>
	<global>
		<helpers>
			<listrak>
				<class>Krishinc_Listrak_Helper</class>
			</listrak>
		</helpers>
		<blocks>
			<listrak>
				<class>Krishinc_Listrak_Block</class>
			</listrak>
		</blocks>
		<models>
			<krishinc_listrak>
				<class>Krishinc_Listrak_Model</class> 
			</krishinc_listrak>
		</models> 
		<events>
			<catalogrequest_index_createpost_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>catalogrequestSaveAfter</method>
			   		</krishinc_listrak>
			   </observers>
		   </catalogrequest_index_createpost_after>
			<overridenewsletter_subscriber_save_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>newsletterSaveAfter</method>
			   		</krishinc_listrak>
			   </observers>
		   </overridenewsletter_subscriber_save_after>	
		   <offerlanding_index_createpost_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>offerlandingSaveAfter</method>
			   		</krishinc_listrak> 
			   </observers>
		   </offerlanding_index_createpost_after>  
<ebook_index_createpost_after>
				<observers>
					<krishinc_listrak>
						<type>singleton</type>
						<class>Krishinc_Listrak_Model_Observer</class>
						<method>ebookSaveAfter</method>
					</krishinc_listrak>
				</observers>
			</ebook_index_createpost_after>
		    <contactus_index_createpost_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>contactusSaveAfter</method>
			   		</krishinc_listrak> 
			   </observers>
		   </contactus_index_createpost_after>  
		   <fieldtester_index_createpost_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>fieldtesterSaveAfter</method>
			   		</krishinc_listrak> 
			   </observers>
		   </fieldtester_index_createpost_after>  
		   	<dealerskit_index_createpost_after>
			   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>dealerskitSaveAfter</method>
			   		</krishinc_listrak>
			   </observers>
		   </dealerskit_index_createpost_after>
		   <adminhtml_customer_save_after>
		   	   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>adminNewsletterSaveAfter</method>
			   		</krishinc_listrak>
			   </observers>
		   </adminhtml_customer_save_after>
			<customer_save_after>
				<observers>
					<krishinc_listrak>
						<type>singleton</type>
						<class>Krishinc_Listrak_Model_Observer</class>
						<method>frontendNewsletterSaveAfter</method>
					</krishinc_listrak>
				</observers>
			</customer_save_after>
                   <checkout_submit_all_after>
		   	   <observers> 
			   		<krishinc_listrak>
			   			<type>singleton</type>
			   			<class>Krishinc_Listrak_Model_Observer</class>
			   			<method>checksubmitAfterAdmin</method>
			   		</krishinc_listrak>
			   </observers>
		   </checkout_submit_all_after>   
	   </events>
	</global>
	 
</config>

	
