<!--@subject Customer Feedback from Website, Subject Area - {{var data.subjects}}@--> 
Feedback was submitted from a customer on our website. 
------------------------------------------------------------------------------------------------------------

Name: {{var data.name}}
Email: {{var data.email}}
Address1: {{var data.address1}}
Address2: {{var data.address2}}
City: {{var data.city}}
Country: {{var data.country_id}}
State: {{var data.region}}
Phone: {{var data.phone}}
Subject: {{var data.subjects}}
Which Best Describe You?: {{var data.position}}
Comments: {{var data.comment}}
State: {{var data.region}}
How did you find our website?  {{var data.foundvia}}
Have you ever used our products? {{var data.used_products}}


------------------------------------------------------------------------------------------------------------
