<?xml version="1.0"?>
<config>
    <modules>
        <Krishinc_Addressupdate>
            <version>0.1</version>
        </Krishinc_Addressupdate>
    </modules>
    <frontend> 
        <layout>
            <updates>
                <addressupdate>
                    <file>addressupdate.xml</file>
                </addressupdate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<addressupdate>
				<use>admin</use>
				<args>
					<module>Krishinc_Addressupdate</module>
					<frontName>address</frontName>
				</args>
			</addressupdate>
        </routers>
    </admin>
    <adminhtml>  
		<layout>
			<updates>
				<addressupdate>
					<file>addressupdate.xml</file>
				</addressupdate>
			</updates>
		</layout>
    </adminhtml>   
    <global> 
        <blocks>
            <addressupdate>
                <class>Krishinc_Addressupdate_Block</class>
            </addressupdate>
        </blocks>
        <helpers>
            <addressupdate>
                <class>Krishinc_Addressupdate_Helper</class>
            </addressupdate> 
        </helpers>  
         <template>
            <email>
                <addressupdate_email_email_template translate="label" module="addressupdate">
                    <label>Address Update Request</label>
                    <file>addressupdate_form.html</file>
                    <type>html</type>
                </addressupdate_email_email_template>
            </email>
        </template>  
    </global> 
     <default>
        <addressupdate>  
            <email>
                <recipient_email><![CDATA[service@criticalthinking.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>addressupdate_email_email_template</email_template>
            </email>
        </addressupdate>
    </default>
</config>